{% extends "page.html" %}

{% load staticfiles %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'tethys_apps/css/app_library.css' %}" rel="stylesheet" />
{% endblock %}

{% block primary_content %}
  <div class="app-library-wrapper clearfix">
    <h1>Apps</h1>

    <div id="app-list">
      {% for app in apps %}
        <a class="app-container" href="{% url app.index %}">
          <div class="app-icon">
            <img src="{% static app.icon %}">
          </div>
          <div class="app-title">
            <span>{{ app.name }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'tethys_apps/vendor/imagesloaded.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'tethys_apps/vendor/masonry.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'tethys_apps/js/main.js' %}" type="text/javascript"></script>
{% endblock %}